{% extends "downloader/base.html" %}
{% block content %}
<div class="container mt-4">
    {# New form #}
    <h1>Settings</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Youtube Cookies Path:</label>
            <input type="text" class="form-control" name="COOKIES_PATH" value="{{ COOKIES_PATH }}" disabled>
        </div>
        <div class="mb-3">
            <label class="form-label">GVS PO Token</label>
            <input type="text" class="form-control" name="PO_TOKEN" value="{{ PO_TOKEN }}" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Output Directory</label>
            <input type="text" class="form-control" name="OUTPUT_DIR" value="{{ OUTPUT_DIR }}" disabled>
        </div>

        {# Info, small, italics, greyed #}
        <div class="form-text text-muted">
            <small>
                Cannot be changed here, please edit the environment variables directly.
            </small>
        
        {# Big textarea #}
        <div class="mb-3">
            <label class="form-label">Cookies Data</label>
            <textarea class="form-control" name="COOKIES_DATA" rows="10" disabled>{{ cookies_data }}</textarea>
        </div>
</div>
{% endblock %}